/* Main Styles */
h1,
h2,
h3,
h4,
h6 {
	font: 400 1em/1em 'Montserrat', sans-serif;
	color: #fb5e8d;
}

h5 {
	font: 400 1.1em/1em 'Montserrat', sans-serif;
	color: #fb5e8d;
}

a {
	color: #fb5e8d;
	line-height: 2em;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font: 400 0.9em/1.25em 'Montserrat', sans-serif;
	color: #333;
	background-color: #f2f2f2;
}

.container {
	max-width: 100%;
}

.main-header {
	position: absolute;
	top: 40%;
	left: 0;
	width: 100%;
	text-align: center;
	margin: auto;
	font: 700 1.5em/2em 'Montserrat', sans-serif;
	color: #fb5e8d;
}

.main-icon {
	padding-top: 1.5em;
	color: #fb5e8d;
	text-align: center;
}

.fa,
.fa-chevron-down {
	color: #fb5e8d;
}

/* Images */
img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	border-bottom: 2px solid #fb5e8d;
}

.main-img {
	margin: 0;
	position: relative;
	overflow: hidden;
	max-height: 100%;
	height: 100vh;
	width: 100vw;
	object-fit: cover;
	border-bottom: 2px solid #fb5e8d;
	margin-bottom: 0;
	padding: 0;
}

.window-img {
	width: 300px;
	object-fit: cover;
}

/* Google Map */
.map {
	width: 100%;
	height: calc(100vh - 90px);
	float: right;
	border-bottom: 2px solid #fb5e8d;
	z-index: 1;
}

/* Footer */
footer {
	text-align: center;
	padding: 10px;
	margin-top: 50px;
}

/* Navigation Styles */
ul {
	list-style: none;
	margin: none;
	padding: 10px;
}

li>a {
	margin: 2rem 1rem;
}

li>a.active {
	background-color: #fb5e8d;
}

.nav,
ul.nav {
	background-color: #333;
	display: -webkit-box;
	align-content: center;
}

.nav>li>a,
.nav>li>a:hover {
	background-color: #373737;
	color: white;
}

.nav>li>a:active,
.nav>li>a:focus {
	background-color: #fb5e8d;
	color: white;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover,
.nav-pills>li>a:hover {
	background-color: #fb5e8d;
}

.navbar-brand,
.nav>li>a.navbar-brand {
	margin: auto 0;
	text-align: left;
	background-color: transparent;
	max-width: 60%;
	white-space: normal;
}

a.navbar-brand:hover {
	color: #fb5e8d;
}

.navbar {
	margin-bottom: 0;
	padding-bottom: 10px;
	background-color: #333;
	border: none;
	border-radius: 0;
}

.reset {
	padding-left: 0.5em;
	border-radius: 100%;
	color: white;
}

.nav-item {
	display: -webkit-inline-box;
	max-width: 100%;
}

/* List-View Styles */

.basic-addon1>span,
.basic-addon1>span:active,
.basic-addon1>span:hover {
	cursor: default;
	background-color: #f2f2f2;
	box-shadow: none;
	border-color: #ddd;
}

.description {
	font-style: italic;
}

.info-error {
	font-size: 0.8em;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
	background-color: #333;
	color: white;
	outline: none;
	border: none;
}

.list-group-item {
	transition: width 2s, height 2s, background-color 0.2s, transition-timing-function ease-in;
	-webkit-transition: width 2s, height 2s, background-color 0.2s, transition-timing-function ease-in;
}

.no-gutter>[class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

/* Autocomplete Styles */
.ui-menu-item {
	color: white;
	background-color: #333;
	cursor: pointer;
	padding: 5px 1em 3px .4em;
}

.ui-menu-item:focus,
li.ui.menu-item-wrapper.ui-state-focus,
.ui-menu-item-wrapper.ui-state-active {
	border: none;
	background-color: #fb5e8d;
}

.ui-helper-hidden-accessible {
	display: none;
	background-color: #333;
}